.header {
  display: flex;
  height: 145px;
  width: 100vw;
  // justify-content: space-around;
  align-items: center;
  gap:10px;
  background: white;
  color: black;
  flex-direction: column;
  position: sticky;
  top:0;
  z-index: 5;
  padding-bottom:10px;

}

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-inline:25px;
  .actions {
    display: flex;
    gap: 1rem;
  }
}
