.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:10px;
    h2{
        margin: 20px auto;
        font-size:22px;
        font-weight:700;
    }
    .certified{
        font-weight: 700;
        margin:10px ;
    }
}